{% extends 'base.html' %}
{% block contenu %}
<div class="container ">
 <div class="row mt-5 ms-auto justify-content-center ">
     <div class="col-lg-6 col-md-8 col-sm-12 ">
        <p class="fs-5 ">Je m'appelle <b>Medoune Fall</b>,  je suis Ingenieur et concepteur logiciel.<br /><br />
            J'accompagne les entreprises, les Startups et les particuliers dans leur processus de digitalisation, de l'idée au lancement.<br /><br />
            J'ai travaillé dans une gamme de domaines qui couvrent les initiatives open source, les clients, les projets communautaires tout en me tenant au courant des 
            technologies les plus récentes et en cherchant toujours à m'améliorer et à grandir en tant que professionnel et en tant que personne.<br /><br />
            Je suis actuellement basé au Sénégal, Ma pile de développement comprend principalement
        </p>
     </div>

 </div>
</div>
{% endblock  %}