{% extends 'base.html' %}

{% block contenu %}
 <div class="container">
     <div class="card card-body mt-5 shadow">
         <h3 class="text-center mb-4 text-decoration-underline fst-italic">Contactez-moi</h3>
        <div class="row ">
            <div class="col-lg-6 col-md-8 col-ms-12">
                <h3 class="text-decoration-underline text-info">Medoune Fall</h3> <br />
                <h6>Je suis aussi disponible sur les reseaux sociaux</h6> <br />
                <p>Adresse : <b>Grand Medine</b></p>
                <p>Telephone : <b>77 794 59 88</b></p>
                <p>Email : <b>medoune99.fall@gmail.com</b></p>
            </div>
            <div class="col-lg-6 col-md-8 col-ms-12">
                <h3 class="text-decoration-underline text-info">Vous pouvez m'envoyer un message</h3> <br />
                <form>
                    <div class="form-group">
                        <input type="text"  class="form-control" placeholder="Votre nom"/>
                    </div><br />
                    <div class="form-group">
                        <input type="text"  class="form-control" placeholder="Votre prenom"/>
                    </div><br />
                    <div class="form-group">
                        <input type="text"  class="form-control" placeholder="Objet"/>
                    </div><br />
                    <div class="form-group">
                        <textarea row="5" col="13" class="form-control" placeholder="Message"></textarea>
                    </div></br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                <form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-4 col-sm-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.380681110612!2d-17.448711485310408!3d14.747570077412153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10d3e760ee761%3A0xdc43930398bdb0fc!2sGrand%20Medine%2C%20Dakar!5e0!3m2!1sen!2ssn!4v1647877927168!5m2!1sen!2ssn" width="1060" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
     </div>
 </div>
{% endblock  %}