<style>
    img{
        width:230px;
    }
</style>
{% extends 'base.html' %} 
{% block contenu  %}
 <div class="container mt-5">
    <div class="row">
        {% if listeArticle %}
        {% for  article in listeArticle  %}

        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card">
               <div class="card-body">
                {% if article.miniature %}
                <img src="{{article.miniature.url}}" /><br/>
                 {% else %}
                 <img src="" />
                 {% endif%}
                {{article.titre}} <br /> {{article.resume}} <br /> <br /> 
                Publie par {{article.auteur}} Le {{article.dateCreation}}
               </div>
            </div>
        </div>
        
        {% endfor %}
        
        {% endif %}
    </div>
 </div>
{% endblock  %}





